html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #0A0B0F !important;
  color: #F5F5F7 !important;
}

@media (prefers-color-scheme: light) {
  html, body, #root {
    background-color: #F4F7F6 !important;
    color: #182B32 !important;
  }
}

:root {
  --tab-bar-bg: #0A0B0F;
}

@media (prefers-color-scheme: light) {
  :root {
    --tab-bar-bg: #F4F7F6;
  }
}
