html, body {
  height: 100vh;
  height: -webkit-fill-available;
  background-color: #1E2336;
}

body {
  margin: 0;
  background-color: #1E2336;
  color: #F5F5F7;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1E2336;
    color: #F5F5F7;
  }
}
