EXPO_PUBLIC_API_URL=https://planner-wheat-three.vercel.app/

EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDSIN2F2sDc-vB_S7ITCMnKILbr9l-r6co
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=planner-app-3471f
EXPO_PUBLIC_FIREBASE_PROJECT_ID=1:817744322906:web:35d264cd7079a211749363
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=your_project.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=817744322906
EXPO_PUBLIC_FIREBASE_APP_ID=1:817744322906:web:35d264cd7079a211749363

NUDGE_API_SECRET=06ff79fa2fd56dce9f3870e923a77cf2e29c64c3b84525757b3ec1627c038279
ALLOWED_ORIGIN=https://planner-wheat-three.vercel.app/
